* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
}
#app {
    border: 1px solid #ff0000;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    align-items: center;
}
#header {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#book-library {
    width: 90%;
    min-height: 95%;
    padding: 20px;
}
.book {
    width: 200px;
    aspect-ratio: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book .book-card {
    border: 1px solid blue;
    aspect-ratio: 3/4;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
}
.book .author {
    font-style: italic;
    text-align: center;
}
.book .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}
.book .footer .no-pages {
    margin: 0px;
}

#form-container {
    border-radius: 20px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: rgba(32, 31, 31, 0.884);
    transform: translateY(100%);
}

#form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(240, 248, 255, 0.842);
    row-gap: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.452);
    border-radius: 10px;
}
#form-container form input {
    justify-self: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(104, 100, 100, 0.89);
    outline: 0px;
}
#form-container form input::placeholder {
    font-style: italic;
    text-align: center;
}

#form-container form input#pages {
    width: 50%;
}

#submit-btn {
    align-self: center;
    justify-self: center;
    grid-column: 1/3;
    outline: 0px;
    border: 0px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(15, 7, 0, 0.5);
    color: rgba(240, 248, 255, 0.9);
    transition: all linear 50ms;
}
#submit-btn:hover, #submit-btn:active {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all linear 200ms;
    color: white;
}
#submit-btn:active {
    transform: scale(0.95);
}